In [30]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [31]:
sales_data = pd.read_csv("Sales_add.csv")

In [32]:
sales_data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [33]:
sales_data.shape

(22, 5)

In [34]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1012.0+ bytes

In [35]:
sales_data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

### a) The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.




* Let the Null hypothesis(Ho) be "There is no increase in sales after stepping into digital marketing."
and alternate hypothesis be "There is an increase in sales after stepping into digital marketing."


* I have used two sample T-test, there are lesser number of observations as well as there are two factor that needs to be considered

In [17]:
t_stat1, pvalue = ttest_ind(sales_data["Sales_before_digital_add(in $)"], sales_data["Sales_After_digital_add(in $)"])

In [18]:
pvalue

2.614368006904645e-16

In [19]:
if pvalue < 0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

Reject null hypothesis

* The null hypothesis has been rejected which states that "there is an increase in sales after stepping into digital marketing"

### b) The company needs to check whether there is any dependency between the features “Region” and             "Manager”.

* Let the 
null hypothesis be " there is no dependency between the features “Region” and “Manager”" and 
alternate hypothesis be "there is a dependency between the features “Region” and “Manager”".

* The Chi-square method of test of independence will be used for determining the hypothesis

In [22]:
from scipy.stats import chi2_contingency

In [23]:
sales_data["Region"].value_counts()

Region - A    10
Region - B     7
Region - C     5
Name: Region, dtype: int64

In [24]:
sales_data["Manager"].value_counts()

Manager - A    9
Manager - B    7
Manager - C    6
Name: Manager, dtype: int64

In [25]:
data = [[10,7,5], [9,7,6]]

In [26]:
chi2_stat,p_value,dof,exp = chi2_contingency(data)

In [27]:
p_value

0.9307446307989679

In [29]:
if p_value < 0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

Accept null hypothesis

* The null hypothesis has been accepted therefore "there is no dependency between the features “Region” and “Manager”".